* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 150px;
}

/* Container styling */
.container {
    background-color: #3c3c3c;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 0 10px #496ddb;
    padding: 20px;
    margin: auto;
    width: calc(50% - 40px);
    max-width: 300px;
    text-align: center;
}

/* Title styling */
.title {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 20px;
}

/* Image holder styling */
.image-holder {
    margin-bottom: 20px;
}

.image-holder img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Button styling */
.start-btn {
    background-color: #7c3aed;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.2s, transform 0.2s;
}

.start-btn:hover {
    background-color: #a173f0;
    transform: scale(1.05);
}

.start-btn:active {
    transform: scale(0.95);
}

@media (max-width: 600px) {
    body {
        padding: 20px;
        align-items: stretch;
    }

    .container {
        width: auto;
        margin: 10px;
    }
}